# Task
Clean the stock prices data from the file '/content/2) Stock_prices.csv' by loading it into a pandas DataFrame, identifying and handling missing values, removing duplicate rows, and standardizing data formats. Finally, summarize the data cleaning and preprocessing steps performed and the characteristics of the dataset after cleaning.

## Load Dataset

### Subtask:
Load the provided CSV file '/content/2) Stock_prices.csv' into a pandas DataFrame.

**Reasoning**:
First, I'll import the pandas library to enable data manipulation. Then, I'll load the specified CSV file into a DataFrame and display its head to ensure successful loading and provide a preview of the data.

In [1]:
import pandas as pd

df = pd.read_csv('/content/2) Stock_prices.csv')
df.head()

  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

## Identify and Handle Missing Values

### Subtask:
Identify missing values in the dataset, assess their extent, and then handle them appropriately (e.g., imputation with a suitable strategy or removal of rows/columns if necessary).

**Reasoning**:
First, I'll identify the missing values and calculate their percentages for each column in the DataFrame to understand their extent.

In [2]:
missing_values = df.isnull().sum()
missing_percentages = (df.isnull().sum() / len(df)) * 100

missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    '% Missing': missing_percentages
})

print("Missing values and their percentages:\n", missing_info[missing_info['Missing Values'] > 0])

Missing values and their percentages:
       Missing Values  % Missing
open              11   0.002211
high               8   0.001608
low                8   0.001608

**Reasoning**:
Since the percentage of missing values in 'open', 'high', and 'low' columns is very small (less than 0.01%), I will fill these missing values with the mean of their respective columns to preserve as much data as possible.

In [3]:
for col in ['open', 'high', 'low']:
    df[col].fillna(df[col].mean(), inplace=True)

print("Missing values after imputation:")
print(df.isnull().sum())

Missing values after imputation:
symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

/tmp/ipython-input-3975798315.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

**Reasoning**:
The previous code generated a FutureWarning due to the `inplace=True` argument used with `fillna` on a chained assignment. To resolve this and align with future pandas behavior, I will explicitly reassign the column after filling the missing values.

In [4]:
for col in ['open', 'high', 'low']:
    df[col] = df[col].fillna(df[col].mean())

print("Missing values after imputation:")
print(df.isnull().sum())

Missing values after imputation:
symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

## Remove Duplicate Rows

### Subtask:
Detect and remove any duplicate rows present in the DataFrame to ensure data uniqueness.

**Reasoning**:
First, I'll check for any duplicate rows in the DataFrame to understand their count before proceeding with their removal. Then I will remove the duplicate rows from the DataFrame and verify the removal by re-checking for duplicates.

In [5]:
initial_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows found: {initial_duplicates}")

df.drop_duplicates(inplace=True)

duplicates_after_removal = df.duplicated().sum()
print(f"Number of duplicate rows after removal: {duplicates_after_removal}")

Number of duplicate rows found: 0
Number of duplicate rows after removal: 0

## Standardize Data Formats

### Subtask:
Examine columns for inconsistent data formats, particularly focusing on date columns to ensure a uniform date format, and standardize any categorical variables if inconsistencies are found.

**Reasoning**:
First, I will inspect the data types of all columns using `df.info()` to identify columns that may require format standardization. This is crucial for understanding the current state of the data and pinpointing columns that need specific transformations. Specifically, the 'date' column is often stored as an object (string) and needs to be converted to a datetime format using `pd.to_datetime()` for proper chronological analysis and filtering. Additionally, I will check the unique values in the 'symbol' column to ensure consistency in categorical variable formatting, such as uniform casing or spelling, which helps prevent issues in grouping or aggregation later.

**Reasoning**:
The previous code cell `624fc3ef` failed because it contained markdown text instead of executable Python code. I will fix this by replacing the markdown with the actual Python code to perform the data format standardization steps as outlined in the reasoning: inspect data types, convert the 'date' column to datetime, and check unique values of the 'symbol' column.

In [7]:
df.info()

df['date'] = pd.to_datetime(df['date'])

print("\nUnique values in 'symbol' column:")
print(df['symbol'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  object
 2   open    497472 non-null  float64
 3   high    497472 non-null  float64
 4   low     497472 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 26.6+ MB

Unique values in 'symbol' column:
['AAL' 'AAPL' 'AAP' 'ABBV' 'ABC' 'ABT' 'ACN' 'ADBE' 'ADI' 'ADM' 'ADP'
 'ADSK' 'ADS' 'AEE' 'AEP' 'AES' 'AET' 'AFL' 'AGN' 'AIG' 'AIV' 'AIZ' 'AJG'
 'AKAM' 'ALB' 'ALGN' 'ALK' 'ALLE' 'ALL' 'ALXN' 'AMAT' 'AMD' 'AME' 'AMGN'
 'AMG' 'AMP' 'AMT' 'AMZN' 'ANDV' 'ANSS' 'ANTM' 'AON' 'AOS' 'APA' 'APC'
 'APD' 'APH' 'ARE' 'ARNC' 'ATVI' 'AVB' 'AVGO' 'AVY' 'AWK' 'AXP' 'AYI'
 'AZO' 'A' 'BAC' 'BAX' 'BA' 'BBT' 'BBY' 'BDX' 'BEN' 'BF.B' 'BIIB' 'BK'
 'BLK' 'BLL' 'BMY' 'BRK.B' 'BSX' 'BWA' 'BXP' 'CAG' 'CAH' 'CAT' 'CA' 'CBG'
 'CBOE' 'CBS' 'CB' 'CCI' 'CCL' 'CDNS' 'CELG' 'CERN' 'CF' 'CHD' 'CHK'
 'CHRW' 'CHTR' 'CINF' 'CI' 'CLX' 'CL' 'CMA' 'CMCSA' 'CME' 'CMG' 'CMI'
 'CMS' 'CNC' 'CNP' 'COF' 'COG' 'COL' 'COO' 'COP' 'COST' 'COTY' 'CPB' 'CRM'
 'CSCO' 'CSX' 'CTAS' 'CTL' 'CTSH' 'CTXS' 'CVS' 'CVX' 'CXO' 'C' 'DAL' 'DE'
 'DFS' 'DGX' 'DG' 'DHI' 'DHR' 'DISCA' 'DISCK' 'DISH' 'DIS' 'DLR' 'DLTR'
 'DOV' 'DPS' 'DRE' 'DRI' 'DTE' 'DUK' 'DVA' 'DVN' 'D' 'EA' 'EBAY' 'ECL'
 'ED' 'EFX' 'EIX' 'EL' 'EMN' 'EMR' 'EOG' 'EQIX' 'EQR' 'EQT' 'ESRX' 'ESS'
 'ES' 'ETFC' 'ETN' 'ETR' 'EW' 'EXC' 'EXPD' 'EXPE' 'EXR' 'FAST' 'FBHS' 'FB'
 'FCX' 'FDX' 'FE' 'FFIV' 'FISV' 'FIS' 'FITB' 'FLIR' 'FLR' 'FLS' 'FL' 'FMC'
 'FOXA' 'FOX' 'FRT' 'FTI' 'F' 'GD' 'GE' 'GGP' 'GILD' 'GIS' 'GLW' 'GM'
 'GOOGL' 'GPC' 'GPN' 'GPS' 'GRMN' 'GS' 'GT' 'GWW' 'HAL' 'HAS' 'HBAN' 'HBI'
 'HCA' 'HCN' 'HCP' 'HD' 'HES' 'HIG' 'HII' 'HOG' 'HOLX' 'HON' 'HP' 'HRB'
 'HRL' 'HRS' 'HSIC' 'HST' 'HSY' 'HUM' 'IBM' 'ICE' 'IDXX' 'IFF' 'ILMN'
 'INCY' 'INTC' 'INTU' 'IPG' 'IP' 'IQV' 'IRM' 'IR' 'ISRG' 'ITW' 'IT' 'IVZ'
 'JBHT' 'JCI' 'JEC' 'JNJ' 'JNPR' 'JPM' 'JWN' 'KEY' 'KIM' 'KLAC' 'KMB'
 'KMI' 'KMX' 'KORS' 'KO' 'KR' 'KSS' 'KSU' 'K' 'LB' 'LEG' 'LEN' 'LH' 'LKQ'
 'LLL' 'LLY' 'LMT' 'LNC' 'LNT' 'LOW' 'LRCX' 'LUK' 'LUV' 'LYB' 'L' 'MAA'
 'MAC' 'MAR' 'MAS' 'MAT' 'MA' 'MCD' 'MCHP' 'MCK' 'MCO' 'MDLZ' 'MDT' 'MET'
 'MGM' 'MHK' 'MKC' 'MLM' 'MMC' 'MMM' 'MNST' 'MON' 'MOS' 'MO' 'MPC' 'MRK'
 'MRO' 'MSFT' 'MSI' 'MS' 'MTB' 'MTD' 'MU' 'MYL' 'M' 'NBL' 'NCLH' 'NDAQ'
 'NEE' 'NEM' 'NFLX' 'NFX' 'NI' 'NKE' 'NLSN' 'NOC' 'NOV' 'NRG' 'NSC' 'NTAP'
 'NTRS' 'NUE' 'NVDA' 'NWL' 'NWSA' 'NWS' 'OKE' 'OMC' 'ORCL' 'ORLY' 'OXY'
 'O' 'PAYX' 'PBCT' 'PCAR' 'PCG' 'PCLN' 'PDCO' 'PEG' 'PEP' 'PFE' 'PFG'
 'PGR' 'PG' 'PHM' 'PH' 'PKG' 'PKI' 'PLD' 'PM' 'PNC' 'PNR' 'PNW' 'PPG'
 'PPL' 'PRGO' 'PRU' 'PSA' 'PSX' 'PVH' 'PWR' 'PXD' 'PX' 'QCOM' 'RCL' 'REGN'
 'REG' 'RE' 'RF' 'RHI' 'RHT' 'RJF' 'RL' 'RMD' 'ROK' 'ROP' 'ROST' 'RRC'
 'RSG' 'RTN' 'SBAC' 'SBUX' 'SCG' 'SCHW' 'SEE' 'SHW' 'SIG' 'SJM' 'SLB'
 'SLG' 'SNA' 'SNI' 'SNPS' 'SO' 'SPGI' 'SPG' 'SRCL' 'SRE' 'STI' 'STT' 'STX'
 'STZ' 'SWKS' 'SWK' 'SYK' 'SYMC' 'SYY' 'TAP' 'TDG' 'TEL' 'TGT' 'TIF' 'TJX'
 'TMK' 'TMO' 'TPR' 'TRIP' 'TROW' 'TRV' 'TSCO' 'TSN' 'TSS' 'TWX' 'TXN'
 'TXT' 'T' 'UAA' 'UAL' 'UDR' 'UHS' 'ULTA' 'UNH' 'UNM' 'UNP' 'UPS' 'URI'
 'USB' 'UTX' 'VAR' 'VFC' 'VIAB' 'VLO' 'VMC' 'VNO' 'VRSK' 'VRSN' 'VRTX'
 'VTR' 'VZ' 'V' 'WAT' 'WBA' 'WDC' 'WEC' 'WFC' 'WHR' 'WMB' 'WMT' 'WM' 'WU'
 'WYNN' 'WYN' 'WY' 'XEC' 'XEL' 'XLNX' 'XL' 'XOM' 'XRAY' 'XRX' 'XYL' 'YUM'
 'ZBH' 'ZION' 'ZTS' 'GOOG' 'NAVI' 'INFO' 'SYF' 'CFG' 'QRVO' 'WRK' 'KHC'
 'PYPL' 'HPE' 'HPQ' 'CSRA' 'WLTW' 'UA' 'FTV' 'EVHC' 'HLT' 'DXC' 'BHGE'
 'BHF' 'DWDP' 'APTV']

## Summarize Data Cleaning and Preprocessing

### Subtask:
Summarize the data cleaning and preprocessing steps performed and describe the characteristics of the dataset after cleaning.

### Summary of Data Cleaning and Preprocessing:

1.  **Loaded Dataset**: The stock prices data from '/content/2) Stock_prices.csv' was successfully loaded into a pandas DataFrame.
2.  **Identified and Handled Missing Values**: Missing values were found in the 'open', 'high', and 'low' columns. Given their very small percentage (less than 0.01%), these missing values were imputed using the mean of their respective columns.
3.  **Removed Duplicate Rows**: A check for duplicate rows was performed, and no duplicate rows were found in the dataset.
4.  **Standardized Data Formats**: The 'date' column, initially of object type, was converted to datetime objects for proper chronological analysis. The 'symbol' column was inspected for consistency, and no inconsistencies requiring standardization were found.

### Characteristics of the Dataset After Cleaning:

**Reasoning**:
To describe the characteristics of the dataset after cleaning, I will display the DataFrame's information to show the updated data types and non-null counts, and then provide a descriptive statistical summary of the numerical columns.

In [8]:
print("\nDataFrame Info After Cleaning:")
df.info()

print("\nDescriptive Statistics After Cleaning:")
print(df.describe())

DataFrame Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  datetime64[ns]
 2   open    497472 non-null  float64
 3   high    497472 non-null  float64
 4   low     497472 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 26.6+ MB

Descriptive Statistics After Cleaning:
                                date           open           high  \
count                         497472  497472.000000  497472.000000
mean   2016-01-06 17:16:00.439984896      86.352275      87.132562
min              2014-01-02 00:00:00       1.620000       1.690000
25%              2015-01-08 00:00:00      41.690000      42.090000
50%              2016-01-11 00:00:00      64.970000      65.560000
75%              2017-01-06 00:00:00      98.410000      99.230000
max              2017-12-29 00:00:00    2044.000000    2067.990000
std                              NaN     101.470106     102.311239

                 low          close        volume
count  497472.000000  497472.000000  4.974720e+05
mean       85.552467      86.369082  4.253611e+06
min         1.500000       1.590000  0.000000e+00
25%        41.280000      41.703750  1.080166e+06
50%        64.360000      64.980000  2.084896e+06
75%        97.580000      98.420000  4.271928e+06
max      2035.110000    2049.000000  6.182376e+08
std       100.570148     101.472407  8.232139e+06